#skills-page { display: none; text-align: center; margin-top: 57px; }
html.skills-page #skills-page { display: block; }

html.skills-page nav { display: block }

html.skills-page nav { color: white; background-color: #2D2D30; }
html.skills-page #nav-toggle span,
html.skills-page #nav-toggle span:after,
html.skills-page #nav-toggle span:before { background-color: white; }
html.skills-page #nav-toggle:hover span,
html.skills-page #nav-toggle:hover span:after,
html.skills-page #nav-toggle:hover span:before { background-color: #9CDCFE }
html.skills-page #main-icon:hover { color: #9CDCFE }

#skills-page h1 { margin: 16px 0; font-size: 51px; position: relative; transition: bottom, opacity, .5s }
#skills-page.fade-out h1 { bottom: 10px; opacity: 0; }
#skills-page.fade-in h1 { bottom: 0; opacity: 1; }

#knob { width: 90vw; max-width: 800px; margin: 0 auto 40px auto; position: relative }

#skills-page #knob:before { content: ''; display: block; background-color: #7144AD; border-radius: 50%; position: absolute; transition: width, height, left, top, .5s }
#skills-page.fade-out #knob:before { width: 0; height: 0; top: 0; left: 0; transition-delay: .9s; }
#skills-page.fade-in #knob:before { width: 20px; height: 20px; top: -10px; left: -10px; transition-delay: 0s; }
#skills-page #knob:after { content: ''; display: block; background-color: #7144AD; border-radius: 5px; width: 10px; position: absolute; top: 0; left: -5px; transition: height, .5s }
#skills-page.fade-out #knob:after { height: 0; transition-delay: .6s; }
#skills-page.fade-in #knob:after { height: 724px; transition-delay: .3s; }

#skills-page #knob .skill:before { content: ''; display: block; border-radius: 5px; width: 100%; height: 10px; position: relative; top: 49px; transition: background-color, .5s }
#skills-page.fade-out #knob .skill:before { background-color: rgba(113, 68, 173, 0); transition-delay: .3s; }
#skills-page.fade-in #knob .skill:before { background-color: rgba(113, 68, 173, .3); transition-delay: .6s; }
#skills-page #knob .skill:after { content: ''; display: block; background-color: #7144AD; border-radius: 5px; height: 10px; transition: width, .5s }
#skills-page.fade-out #knob .skill:after { width: 0; transition-delay: .3s; }
#skills-page.fade-in #knob .skill:after { transition-delay: .6s; }

#skills-page #knob .text { position: relative; transition: top, opacity, .5s }
#skills-page.fade-out #knob .text { top: 10px; opacity: 0; transition-delay: 0s; }
#skills-page.fade-in #knob .text { top: 0; opacity: 1; transition-delay: .9s; }

#knob .skill .content { text-align: right; white-space: nowrap; padding-left: 10px;height:39px; }
    #knob .skill .content img { margin-top: -10px; position: relative; top: 3px; }

#skills-page.fade-in #knob .skill:nth-child(1):after { width: 100%; }
#skills-page.fade-in #knob .skill:nth-child(2):after { width: 100%; }
#skills-page.fade-in #knob .skill:nth-child(3):after { width: 90%; }
#skills-page.fade-in #knob .skill:nth-child(4):after { width: 90%; }
#skills-page.fade-in #knob .skill:nth-child(5):after { width: 90%; }
#skills-page.fade-in #knob .skill:nth-child(6):after { width: 70%; }
#skills-page.fade-in #knob .skill:nth-child(7):after { width: 70%; }
#skills-page.fade-in #knob .skill:nth-child(8):after { width: 40%; }
#skills-page.fade-in #knob .skill:nth-child(9):after { width: 40%; }
#skills-page.fade-in #knob .skill:nth-child(10):after { width: 40%; }
#skills-page.fade-in #knob .skill:nth-child(11):after { width: 30%; }
#skills-page.fade-in #knob .skill:nth-child(12):after { width: 20%; }

#knob .skill:nth-child(1) .content { margin-right: 0; }
#knob .skill:nth-child(2) .content { margin-right: 0; }
#knob .skill:nth-child(3) .content { margin-right: 10%; }
#knob .skill:nth-child(4) .content { margin-right: 10%; }
#knob .skill:nth-child(5) .content { margin-right: 10%; }
#knob .skill:nth-child(6) .content { margin-right: 30%; }
#knob .skill:nth-child(7) .content { margin-right: 30%; }
#knob .skill:nth-child(8) .content { margin-right: 60%; }
#knob .skill:nth-child(9) .content { margin-right: 60%; }
#knob .skill:nth-child(10) .content { margin-right: 60%; }
#knob .skill:nth-child(11) .content { margin-right: 70%; }
#knob .skill:nth-child(12) .content { margin-right: 80%; }
